#NET "VGA_R<3>" LOC = "C8" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
#NET "VGA_R<2>" LOC = "B8" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
#NET "VGA_R<1>" LOC = "B3" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "VGA_R<0>" LOC = "H33" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
#NET "VGA_G<3>" LOC = "D6" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
#NET "VGA_G<2>" LOC = "C6" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
#NET "VGA_G<1>" LOC = "D5" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "VGA_G<0>" LOC = "F34" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
#NET "VGA_B<3>" LOC = "C9" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
#NET "VGA_B<2>" LOC = "B9" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
#NET "VGA_B<1>" LOC = "D7" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "VGA_B<0>" LOC = "H34" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "VGA_HSYNC" LOC = "G33" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "VGA_VSYNC" LOC = "G32" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;

NET "ROT_CENTER" LOC = "AJ6" | IOSTANDARD = LVCMOS33 | PULLDOWN ;
NET "BTN_EAST" LOC = "AK7" | IOSTANDARD = LVCMOS33 | PULLDOWN ;
NET "BTN_NORTH" LOC = "U8" | IOSTANDARD = LVCMOS33 | PULLDOWN ;
NET "BTN_SOUTH" LOC = "V8" | IOSTANDARD = LVCMOS33 | PULLDOWN ;
NET "BTN_WEST" LOC = "AJ7" | IOSTANDARD = LVCMOS33 | PULLDOWN ;



#NET "CLK_50MHZ" LOC = "E12"| IOSTANDARD = LVCMOS33 ;

NET  "CLK_FPGA_N" LOC="K19";   # Bank 3, Vcco=2.5V, No DCI      
NET  "CLK_FPGA_P" LOC="L19";   # Bank 3, Vcco=2.5V, No DCI